body{
  background-color: black;
  color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.navigation{
  min-width: 275px;
}

.imgNav {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%);

}
.btn-tweet{
  background-color: #1D9BF0;
}

